In [1]:
# Import relevant libraries
import sqlite3
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from math import ceil

# for better resolution plots
%config InlineBackend.figure_format = 'retina' # optionally, you can change 'svg' to 'retina'

# Setting seaborn style
sns.set()

In [2]:
# Get the dataset and checking its first rows
df_train = pd.read_excel(r'Data/Train.xlsx')

In [4]:
df_train.head()

,CITIZEN_ID,Name,Birthday,Native Continent,Marital Status,Lives with,Base Area,Education Level,Years of Education,Employment Sector,Role,Working Hours per week,Money Received,Ticket Price,Income
0,12486,Mr. Adam Glover,"July 1,2003",Europe,Married,Wife,Northbury,High School + PostGraduation,13,Private Sector - Services,Repair & constructions,40,0,2273,1
1,12487,Mr. Cameron McDonald,"January 25,2006",Europe,Married,Wife,Northbury,Professional School,12,Public Sector - Others,Repair & constructions,40,0,0,1
2,12488,Mr. Keith Davidson,"May 10,2009",Europe,Married,Wife,Northbury,Professional School,12,Private Sector - Services,Sales,46,0,2321,1
3,12489,Mr. Alexander Gill,"March 25,1985",Europe,Married,Wife,Northbury,High School - 2nd Cycle,11,Private Sector - Services,Security,37,5395,0,1
4,12490,Mr. Neil Piper,"May 29,2015",Europe,Single,Other Family,Northbury,PhD,21,Self-Employed (Individual),Professor,45,0,0,1

In [5]:
df_train['Employment Sector'].unique()

array(['Private Sector - Services ', 'Public Sector - Others',
       'Self-Employed (Individual)', 'Private Sector - Others', '?',
       'Self-Employed (Company)', 'Public Sector - Government',
       'Unemployed', 'Never Worked'], dtype=object)

In [30]:
# rui

# publico ou privado ou self ou uneployed empl. sector

# binaria governo ou n empl. sector

# juntar categorias do employment sector never worked mas tem working hours incoerencia -> ver casos individualmente

In [31]:
# publico ou privado ou self ou uneployed empl. sector
def sectors(a):
    if 'Private Sector' in a:
        return 'Private Sector'
    elif 'Public Sector' in a:
        return 'Public Sector'
    elif 'Self-Employed' in a:
        return 'Self-Employed'
    else:
        return 'Unemployed / Never Worked'
    
df_train['Employment Sector (simplified)'] = df_train['Employment Sector'].map(sectors)

In [32]:
# binaria governo ou n empl. sector
df_train['Government'] = df_train['Employment Sector'].map(lambda x: 1 if 'Government' in x else 0)